<header class="site-header">
  <script type="text/javascript" language="javascript" defer>
    document.getElementById('nav-toggle').addEventListener('click', function () {
      const trigger = document.querySelector('.trigger');
      trigger.classList.toggle('visible');
    });
  </script>

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <button id="nav-toggle" class="nav-toggle">☰</button>
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
